<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PeevedPenguinsAssets/background2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {3840, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {3840, 1280}}</string>
			<key>sourceSize</key>
			<string>{3840, 1280}</string>
		</dict>
		<key>PeevedPenguinsAssets/bear.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3759}, {322, 312}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {322, 312}}</string>
			<key>sourceSize</key>
			<string>{322, 312}</string>
		</dict>
		<key>PeevedPenguinsAssets/beararm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1915}, {178, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {178, 140}}</string>
			<key>sourceSize</key>
			<string>{178, 140}</string>
		</dict>
		<key>PeevedPenguinsAssets/bearnoarms.png</key>
		<dict>
			<key>frame</key>
			<string>{{315, 3759}, {322, 312}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {322, 312}}</string>
			<key>sourceSize</key>
			<string>{322, 312}</string>
		</dict>
		<key>PeevedPenguinsAssets/block.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1541}, {276, 276}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{119, 119}, {276, 276}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>PeevedPenguinsAssets/button.png</key>
		<dict>
			<key>frame</key>
			<string>{{2415, 1485}, {668, 610}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {668, 610}}</string>
			<key>sourceSize</key>
			<string>{668, 610}</string>
		</dict>
		<key>PeevedPenguinsAssets/canon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1703, 1655}, {482, 560}}</string>
			<key>offset</key>
			<string>{0, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{271, 259}, {482, 560}}</string>
			<key>sourceSize</key>
			<string>{1024, 1024}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapult.png</key>
		<dict>
			<key>frame</key>
			<string>{{841, 3759}, {860, 320}}</string>
			<key>offset</key>
			<string>{0, -25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 50}, {860, 320}}</string>
			<key>sourceSize</key>
			<string>{860, 370}</string>
		</dict>
		<key>PeevedPenguinsAssets/catapultarm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1703, 1485}, {168, 710}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {168, 710}}</string>
			<key>sourceSize</key>
			<string>{168, 710}</string>
		</dict>
		<key>PeevedPenguinsAssets/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{629, 3759}, {322, 210}}</string>
			<key>offset</key>
			<string>{6, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{101, 165}, {322, 210}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>PeevedPenguinsAssets/flyingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2151, 2139}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>PeevedPenguinsAssets/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 247}, {3840, 244}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {3840, 244}}</string>
			<key>sourceSize</key>
			<string>{3840, 244}</string>
		</dict>
		<key>PeevedPenguinsAssets/ground2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {3840, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {3840, 200}}</string>
			<key>sourceSize</key>
			<string>{3840, 200}</string>
		</dict>
		<key>PeevedPenguinsAssets/longblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1485}, {366, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {366, 54}}</string>
			<key>sourceSize</key>
			<string>{366, 54}</string>
		</dict>
		<key>PeevedPenguinsAssets/menubackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1485}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>PeevedPenguinsAssets/plank.png</key>
		<dict>
			<key>frame</key>
			<string>{{1651, 1485}, {476, 40}}</string>
			<key>offset</key>
			<string>{7, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25, 253}, {476, 40}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>PeevedPenguinsAssets/rocket.png</key>
		<dict>
			<key>frame</key>
			<string>{{2265, 1655}, {140, 142}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59, 61}, {140, 142}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>PeevedPenguinsAssets/seal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2265, 1915}, {110, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 100}}</string>
			<key>sourceSize</key>
			<string>{110, 100}</string>
		</dict>
		<key>PeevedPenguinsAssets/squareblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2151, 2241}, {98, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 96}}</string>
			<key>sourceSize</key>
			<string>{98, 96}</string>
		</dict>
		<key>PeevedPenguinsAssets/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1475, 1819}, {152, 144}}</string>
			<key>offset</key>
			<string>{1, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53, 51}, {152, 144}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>PeevedPenguinsAssets/sun.png</key>
		<dict>
			<key>frame</key>
			<string>{{3843, 1}, {244, 246}}</string>
			<key>offset</key>
			<string>{1, 23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{135, 110}, {244, 246}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>PeevedPenguinsAssets/tallblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1819}, {94, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 190}}</string>
			<key>sourceSize</key>
			<string>{94, 190}</string>
		</dict>
		<key>PeevedPenguinsAssets/taperedblock.png</key>
		<dict>
			<key>frame</key>
			<string>{{2265, 2017}, {454, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {454, 108}}</string>
			<key>sourceSize</key>
			<string>{454, 108}</string>
		</dict>
		<key>PeevedPenguinsAssets/waitingpenguin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2265, 1797}, {118, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {118, 116}}</string>
			<key>sourceSize</key>
			<string>{118, 116}</string>
		</dict>
		<key>PeevedPenguinsAssets/wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1703, 2139}, {446, 446}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33, 33}, {446, 446}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>PeevedPenguinsAssets.png</string>
	</dict>
</dict>
</plist>
